*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    background: rgb(2,0,36);
    background: gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,54,121,1) 49%, rgba(0,142,255,1) 100%);
    max-height: 100%;
}
nav{
  
    min-height: 10vh;
   
}
.logo {
    height: 10vh;
}
.navbar-brand{
    font-weight: 900; 
   
}

ul .nav-item{
    font-weight: 900;
    text-decoration-style: solid;
    font-size: large;
}

/* home */
.home-bg{
    max-height: 60vh;
}
h1{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

